*venv*/
__pycache__/
dist/
data

docs/_*/
!docs/_static

docs/tutorials/notebooks/checkpoints/
docs/tutorials/notebooks/data/

output/
.coverage*

.tox/
.nox/
.python-version

# Used to store user customizable settings
.settings
# debug profiles
.vscode/launch.json
