# line ending tip taken from https://code.visualstudio.com/docs/devcontainers/tips-and-tricks
* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
*.npz filter=lfs diff=lfs merge=lfs -text
docs/tutorials/notebooks/models/ae filter=lfs diff=lfs merge=lfs -text
