# line ending tip taken from https://code.visualstudio.com/docs/devcontainers/tips-and-tricks
* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
*.npz binary
docs/source/notebooks/models/ae binary
*.db binary
docs/** linguist-documentation
docs/source/notebooks/*.ipynb linguist-generated gitlab-generated -diff
