*venv*/
__pycache__/
dist/
data

docs/_*/
!docs/_static

docs/tutorials/notebooks/checkpoints/
docs/tutorials/notebooks/data/

output/
.coverage*

# Used to store user customizable settings
.settings
