# daml
numpy
scikit-learn
scipy

# alibi-detect
alibi-detect[tensorflow]==0.11.4
tensorflow==2.12.1

# cuda
nvidia-cudnn-cu11==8.6.0.163
opencv-contrib-python-headless==4.8.0.76

# test
coverage
pyright
pytest
tox

# lint
black[jupyter]
codespell
flake8
Flake8-pyproject
isort

# packaging
poetry
poetry-core
poetry-dynamic-versioning
