alibi-detect[tensorflow]==0.11.4
black[jupyter]
codespell
coverage
flake8
Flake8-pyproject
isort
numpy==1.24.3
nvidia-cudnn-cu11==8.6.0.163
opencv-contrib-python-headless==4.8.0.76
poetry-core
poetry-dynamic-versioning
pyright
pytest
scikit-learn
scipy
tensorflow==2.12.1
tensorflow-datasets
tox
