.font-title {
    font-size: x-large;
}

.red-text {
    color: red;
}

:root .graphviz a:hover > text {
  text-decoration: underline;
}

.md-typeset table.data:not(.plain) {
    width: 90%;
}

@media screen and (min-width: 76.25em) {
    .md-grid {
        max-width: 80rem;
    }

    .md-sidebar--primary{
        flex: 2 1 16rem;
        max-width: 17rem;
        min-width: 14rem;
    }

    .md-sidebar--primary .md-sidebar__inner{
        padding-right: 1.5rem;
    }

    .md-content{
        flex-shrink: 2;
    }
}

@media screen and (min-width: 60em) {
    .md-sidebar--secondary{
        flex: 2 1 14rem;
        max-width: 15rem;
        min-width: 10rem;
    }

    .md-sidebar--secondary .md-sidebar__inner{
        padding-right: 1rem;
        padding-left: 0.5rem;
    }
}
