.font-title {
    font-size: x-large;
}

.red-text {
    color: red;
}

:root .graphviz a:hover > text {
  text-decoration: underline;
}

.md-grid {
    max-width: 80rem;
}

.md-sidebar--primary{
    width: 16rem;
}

.md-sidebar--primary .md-sidebar__inner{
    padding-right: 1.5rem;
}

.md-sidebar--secondary{
    width: 14rem
}

.md-sidebar--secondary .md-sidebar__inner{
    padding-right: 1.5rem;
}